################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PostDICOM-Extension/.vs/PostDICOM-Extension/v16/Server/sqlite3
/PostDICOM-Extension/.vs/PostDICOM-Extension/DesignTimeBuild
/PostDICOM-Extension/.vs/PostDICOM-Extension/v15/Server/sqlite3
