################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PostDICOM-Extension/.vs/PostDICOM-Extension/v16/Server/sqlite3
